<h3>Edit Your Project</h3>

<form method='POST' action='/projects/<%= @project.id %>'>
    <input type='hidden' name='_method' value='PATCH'>
    <label>Client:</label>
    <input type='text' name='client' value='<%= @project.client%>'><br><br>
    <label>Summary:</label>
    <input type='text' name='summary' value='<%= @project.summary%>'><br><br>

    <label>Engineer:</label>
    <select name='user_id'>
        <option value='<%= @project.user.id %>'><%= @project.user.username %></option>
        <% User.all.each do |user| %>
            <option value='<%= user.id %>'><%= user.username %></option>
        <% end %>
    <select>
    <br>
    <br>
    <input type='submit' value='Edit Project'>
</form>